{% extends '@<%= themeName %>/components/nodes/_abstract/_node.html.twig' %}

{% block content %}
  <div class="{{ prefix }}-content">
    {{ content.field_paragraph_multi_1 }}
  </div>
{% endblock  %}
