#toolbar-administration .toolbar-menu{
  & > li{
    &:first-child{
      margin-left: 0;
    }


    &.menu-item__admin_toolbar_tools-help{

      a:before {
        background-position: center;
        background-repeat: no-repeat;
        content: '';
        left: 0 !important;
        background-size: contain;
        background-color: transparent !important;
        background-image: url("./img/logo.png");
        mask: none !important;
        width: 100%;
        height: 100%;
        //mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M12 4.92c.6.696 1.272 1.344 1.92 1.992 2.4 2.4 4.56 4.56 4.56 7.776V15.096c-.096 3.528-3 6.384-6.528 6.384h-.12c-1.728-.048-3.384-.744-4.56-1.992-1.176-1.296-1.824-2.952-1.776-4.728v-.048c0-3.216 2.256-5.4 4.56-7.776A49.835 49.835 0 0012 4.92zM12 0c-.48 1.824-2.088 3.432-3.792 5.04-2.472 2.52-5.328 5.4-5.328 9.648-.12 5.04 3.912 9.216 8.904 9.312H12c4.92 0 9-3.96 9.12-8.904v-.384c0-4.296-2.88-7.128-5.352-9.648C14.088 3.432 12.48 1.824 12 0z'/%3e%3c/svg%3e")
      }
    }
  }
}
