body {
  .toolbar .toolbar-icon {
  
    &[data-icon-id="blocks"]:before {
      mask-image: url('toolbar-icons/blocks.svg');
    }
    
    &[data-icon-id="edito"]:before {
      mask-image: url('toolbar-icons/edito.svg');
    }
    
    &[data-icon-id="finance"]:before {
      mask-image: url('toolbar-icons/finance.svg');
    }
    
    &[data-icon-id="flush"]:before {
      mask-image: url('toolbar-icons/flush.svg');
    }
    
    &[data-icon-id="implantation"]:before {
      mask-image: url('toolbar-icons/implantation.svg');
    }
    
    &[data-icon-id="media"]:before {
      mask-image: url('toolbar-icons/media.svg');
    }
    
    &[data-icon-id="news"]:before {
      mask-image: url('toolbar-icons/news.svg');
    }
    
    &[data-icon-id="other"]:before {
      mask-image: url('toolbar-icons/other.svg');
    }
    
    &[data-icon-id="portrait"]:before {
      mask-image: url('toolbar-icons/portrait.svg');
    }
    
    &[data-icon-id="seo"]:before {
      mask-image: url('toolbar-icons/seo.svg');
    }
    
    &[data-icon-id="settings"]:before {
      mask-image: url('toolbar-icons/settings.svg');
    }
    
    &[data-icon-id="translate"]:before {
      mask-image: url('toolbar-icons/translate.svg');
    }
    
    &[data-icon-id="translation"]:before {
      mask-image: url('toolbar-icons/translation.svg');
    }
    
  }
}