/**======================================================
||                  CKEDITOR.                      ||
=======================================================*/
[data-drupal-ckeditor-button-name="media_images"] .cke_button_icon, .cke_button__media_images_icon {
  background-image: url('/core/modules/ckeditor/js/plugins/drupalimage/icons/drupalimage.png') !important;

  img {
    display: none;
  }
}

/**======================================================
||                  Liste de paragraphes                      ||
=======================================================*/
.paragraphs-tabs-wrapper .field-multiple-table .draggable td + td.td__ordre {
  width: 100%;
}

/**======================================================
||                  Entity browser                      ||
=======================================================*/
form.entity-browser-form {
  & > .form-actions {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--colorGinAppBackground);
    margin: 0;
    z-index: 1;
  }
  & > .view, &{
    padding-bottom: 8rem !important;
  }
}
