{% set prefix = node.bundle() %}
{% spaceless %}
  <article{{ attributes.addClass(prefix) }}>

    {% block header %}
      <header class="{{ prefix }}-head">
        <h1 class="{{ prefix }}-head-title title">{{ label.0 }}</h1>
      </header>
    {% endblock %}

    {% block content %}
      <div class="{{ prefix }}-content">
        {{ content }}
      </div>
    {% endblock %}
  </article>
{% endspaceless %}
