body .toolbar .toolbar-icon[data-icon-id="blocks"]:before {
  -webkit-mask-image: url("toolbar-icons/blocks.svg");
          mask-image: url("toolbar-icons/blocks.svg"); }

body .toolbar .toolbar-icon[data-icon-id="edito"]:before {
  -webkit-mask-image: url("toolbar-icons/edito.svg");
          mask-image: url("toolbar-icons/edito.svg"); }

body .toolbar .toolbar-icon[data-icon-id="flush"]:before {
  -webkit-mask-image: url("toolbar-icons/flush.svg");
          mask-image: url("toolbar-icons/flush.svg"); }

body .toolbar .toolbar-icon[data-icon-id="other"]:before {
  -webkit-mask-image: url("toolbar-icons/other.svg");
          mask-image: url("toolbar-icons/other.svg"); }

body .toolbar .toolbar-icon[data-icon-id="seo"]:before {
  -webkit-mask-image: url("toolbar-icons/seo.svg");
          mask-image: url("toolbar-icons/seo.svg"); }

body .toolbar .toolbar-icon[data-icon-id="settings"]:before {
  -webkit-mask-image: url("toolbar-icons/settings.svg");
          mask-image: url("toolbar-icons/settings.svg"); }

body .toolbar .toolbar-icon[data-icon-id="translate"]:before {
  -webkit-mask-image: url("toolbar-icons/translate.svg");
          mask-image: url("toolbar-icons/translate.svg"); }

body .toolbar .toolbar-icon[data-icon-id="translation"]:before {
  -webkit-mask-image: url("toolbar-icons/translation.svg");
          mask-image: url("toolbar-icons/translation.svg"); }

body .toolbar .toolbar-icon.toolbar-icon-admin-toolbar-tools-help:before {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M12 4.92c.6.696 1.272 1.344 1.92 1.992 2.4 2.4 4.56 4.56 4.56 7.776V15.096c-.096 3.528-3 6.384-6.528 6.384h-.12c-1.728-.048-3.384-.744-4.56-1.992-1.176-1.296-1.824-2.952-1.776-4.728v-.048c0-3.216 2.256-5.4 4.56-7.776A49.835 49.835 0 0012 4.92zM12 0c-.48 1.824-2.088 3.432-3.792 5.04-2.472 2.52-5.328 5.4-5.328 9.648-.12 5.04 3.912 9.216 8.904 9.312H12c4.92 0 9-3.96 9.12-8.904v-.384c0-4.296-2.88-7.128-5.352-9.648C14.088 3.432 12.48 1.824 12 0z'/%3e%3c/svg%3e");
          mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M12 4.92c.6.696 1.272 1.344 1.92 1.992 2.4 2.4 4.56 4.56 4.56 7.776V15.096c-.096 3.528-3 6.384-6.528 6.384h-.12c-1.728-.048-3.384-.744-4.56-1.992-1.176-1.296-1.824-2.952-1.776-4.728v-.048c0-3.216 2.256-5.4 4.56-7.776A49.835 49.835 0 0012 4.92zM12 0c-.48 1.824-2.088 3.432-3.792 5.04-2.472 2.52-5.328 5.4-5.328 9.648-.12 5.04 3.912 9.216 8.904 9.312H12c4.92 0 9-3.96 9.12-8.904v-.384c0-4.296-2.88-7.128-5.352-9.648C14.088 3.432 12.48 1.824 12 0z'/%3e%3c/svg%3e"); }
