{#
/**
 * @file
 * Default theme implementation of modal add paragraph dialog template.
 *
 * Following classes have custom use:
 *   - paragraphs-add-dialog - is used to wrap the dialog.
 *   - paragraphs-add-dialog-row - is used to wrap the paragraph type rows.
 *
 *
 * @ingroup themeable
 */
#}
{{ add }}
<div class="paragraphs-add-dialog js-hide">
  <div style="max-height: 60vh;min-width: 60vw;">

    {% set added = [] %}
    {% set i = 0 %}

    {% set groups = drupal_config('paragraph_enhancer.settings', 'list') %}
    {% if groups is not empty %}
      {% for groupName, paragraphs in groups %}
        {% set buttonsList = [] %}
        {% for buttonId, button in buttons %}
          {% set buttonId = buttonId|replace({'add_more_button_':''}) %}
          {% if buttonId in paragraphs %}
            {% set buttonsList = buttonsList|merge([button]) %}
            {% set added = added|merge([buttonId]) %}
          {% endif %}
        {% endfor %}

        {% if buttonsList  is not empty %}
          <details {{ i== 0 ? "open=true" : "" }}">
          <summary>{{ groupName }}</summary>
          <ul class="paragraphs-add-dialog-list">
            {% for button in buttonsList %}
              <li class="paragraphs-add-dialog-row">
                {{ button }}
              </li>
            {% endfor %}
          </ul>
          </details>
          {% set i=1 %}
        {% endif %}
      {% endfor %}


      {% set notAdded  = [] %}
      {% for buttonId, button in buttons %}
        {% set buttonId = buttonId|replace({'add_more_button_':''}) %}
        {% if buttonId not in added %}
          {% set notAdded  = notAdded|merge([button]) %}
        {% endif %}
      {% endfor %}

      {% if notAdded is not empty %}
        <details {{ i== 0 ? "open=true" : "" }}">
        <summary>{{ 'Other'|t }}</summary>
        <ul class="paragraphs-add-dialog-list">
          {% for button in notAdded %}
            <li class="paragraphs-add-dialog-row">
              {{ button }}
            </li>
          {% endfor %}
        </ul>
        </details>
      {% endif %}

    {% else %}
      <ul class="paragraphs-add-dialog-list">
        {% for button in buttons %}
          <li class="paragraphs-add-dialog-row">
            {{ button }}
          </li
        {% endfor %}
      </ul>
    {% endif %}

  </div>
</div>
