{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if edit is not empty %}
  <div class="form-type--entity-autocomplete-edit-wrapper">
    <input{{ attributes.removeAttribute('required') }} />{{ children }} {{ edit }}
  </div>
{% else %}
  <input{{ attributes.removeAttribute('required') }} />{{ children }}
{% endif %}


